.orders-cart{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    margin:auto;
    background-color:rgb(255, 255, 255);
    box-shadow: 10px  10px 10px rgba(83, 83, 83, 0.335);
    width:85%;
   
}
.orders-cart{
    padding: 20px;
    margin:20px;
    border: 1px solid rgba(145, 145, 145, 0.496);
    box-shadow: 10px  10px 10px rgba(83, 83, 83, 0.237);
    border-radius:10px;

}
.order-img{
    margin-top: 20px;
    width:90px;
    height:90px;
}
.order-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
}
.card-item{
    display: flex
}
.card-item-desc{
    margin-left: 30px;
    margin-top: 20px;
}
.totalPrice{
    
    margin-left: auto;
    font-weight: bold;
    color: rgb(102, 26, 215);
    border-top: 1px solid black;
}